.blog-frame{
    background-color: antiquewhite;
    margin: 90px 0 0 15%;
    width: 70%;
    text-align: center;
}
.home-link{
    width: 40px;
    height: auto;
    text-decoration: none;
    color: black;
    margin: 0px 0 0 0px;
    position: fixed;
    top: 20px; /* adjust the top position as desired */
  right: 20px; /* adjust the right position as desired */
  z-index: 999; /* ensure the button is on top of other elements */
}
.blog_title{
    font-size:25px ;
    font-weight: 500;
}
.blog-img{
    background-color: white;
    width: 80%;
    height: auto;
}
.details{
    margin: 25px 10px 30px 10px;
    font-size: 15px;
    font-weight: 400;
    
}